body{
	background-image: url("IMAGES/wallpaper-2.jpg");
	background-position: center;
    
    background-repeat: no-repeat;
    background-size: cover;
	min-height:100vh;
	
}
.main-kontakt{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.form-style{
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 500px;
	background-color: rgba(0, 0, 0, 0.595);
	
	color: white;
	border-radius: 25px
}

.form-item{
	border-radius: 25px;
	width: 60%;
	height: 7%;
	margin: 3%;
	padding-left: 25px;
}

.form-item:focus{
	border-color: #002C85;
}
.form-item:active{
	border-color: #002C85;
}

.form-textarea{
	border-radius: 25px;
	width: 60%;
	height: 15%;
	margin: 3%;
	padding-left: 25px;
	justify-content: center;
	
}


.button-send{
	border-radius: 25px;
	width: 20%;
	height: 7%;
	background-color: #002C85;
	border: none;
	color: white;
	font-size: 15px;

}

.button-send:hover{
	background-color: #B00000;
}