body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;


    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;

}


section {
    scroll-snap-align: start;
    position: relative;
  }




nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px 5%;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    display: inline-block;
    gap: 5%;
    padding: 5%;
}

a{
    text-decoration: none;
    color: white;
}
.logo-name{
    width: 8%;
}



.section-top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(IMAGES/background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: slide 20s infinite;
}

@keyframes slide {
    0%{
        background-image: url(IMAGES/background-1.jpg);
    }
    33%{
        background-image: url(IMAGES/background-2.jpg);
    }
    67%{
        background-image: url(IMAGES/background-3.jpg);
    }
}



.main-section{
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100%;
}

.welcome{
    color: white;
}

.traits-begin{
    display: flex;
    background-image: url(IMAGES/wallpaper-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
}


.more-text{
    
   
    margin: 5%;
    width: 200px;
    height: 100px;
    display: inline-block;
     
    font-size: 300%;
    transform: skewY(-30deg);
}

.text-right{
    color: red;
}


.more-inf{
    margin: 2%;
    width: 35%;
    height: 90%;
    
}




.circle-barber{
    width: 30%;
}

.zdj-left{
    height: 50%;
}

#main-name{
    
    font-size: 500%;
}



.traits-left{
    height: 100%;
    background-color: red;
}

.traits-right{
    height: 100%;
    background-color: rgb(20, 20, 255);
}













footer{
    background-color: black;
    color: white;
    display: flex;

}