body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

li, a {
    
    color: black;
    text-decoration: none;
    list-style-type: none;
    

    
}



header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    
}

nav{
    display: flex;
    
}
ul{
    display: flex;
    padding: 0;
    gap: 10%;
    

}

.zdj{
    
    
}


.photo-logo{
    width: 50%;
    padding: 0;
    margin: 0;
    
}

#element{
    margin-top: 15%;
}


.opis-lewy{
    display: flex;
    margin-bottom: 5%;
    
}

.opis-prawy{
    display: flex;
    margin-bottom: 5%;
    
    
}


.zdj-left{
    width: 20%;
    margin-left: 10%;
}

.tekst-lewy{
    margin-left: 5%;
}

.zdj-right{
    width: 20%;
    margin-right: 5%;
}
#tytul-main{
    display: flex;
    justify-content: space-between;
    font-size: 400%;
    justify-content: center;
    
}

section {
    border-bottom: 1px solid white;
    padding: 1rem;
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
  }


.zasady-napis{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;

}

#lewy{
    height: 20%;
}


#prawy{
    height: 20%;
    transform: rotate(180deg);
}