body{
    scroll-behavior: smooth;
    display: flex;
    
}

nav{
    display: flex;
    place-content: space-between;

}

ul{
    display: flex;
    list-style-type: none;
    place-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;

}
li{
    margin: 15%;
}
a{
    text-decoration: none;
    color: black;
}